* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Abel", serif;
}

p,
a,
li,
span,
strong {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

body {
  border: 2px solid #ddd;
  padding: 12px;
  margin: 8px;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.line {
  height: 1px;
  background-color: #ddd;
  width: 80px;
  border-radius: 8px;
  margin: 12px 0;
}

header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-img {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ddd;
  background-image: url("/profile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

header .social {
  display: flex;
  flex-direction: column;

  font-size: 12px;
}

.social .in {
  color: #2966c2;
}

.social .git {
  color: #1e3050;
}

header strong {
  font-weight: normal;
  font-size: 12px;
}

header p {
  font-size: 14px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

section h2 {
  text-align: left;
}

.experiences-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.experiences-container strong {
  font-weight: normal;
  font-size: 12px;
}

.experiences-container h3 {
  font-size: 18px;
}

.experiences-container span {
  opacity: 90%;
  font-size: 14px;
}

.experiences-container ul li {
  list-style: disc;
}

.experiences-container ul {
  padding-left: 20px;
}

.experiences-container .experience-skills {
  display: block;
  opacity: 90%;
  margin-top: 16px;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section .container h3 {
  font-size: 18px;
}

section .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container ul li {
  list-style: disc;
  font-size: 14px;
}

.container ul {
  padding-left: 20px;
}
